@import model._
@(selectedCategory: Int,categories: List[Category],questions: List[Question],header:Html)(implicit errorStr: String)
@main(header) {
    <div class="page-header">
        <h1>Edit Questions</h1>
    </div>
    <form class="form-horizontal" role="form" method="GET" action="@routes.Application.editquestion">
        <div class="form-group col-lg-4">
           <label  for="categorySelect">Select Category</label>
           <select id="categorySelect" name="categoryId" class="form-control" onchange="this.form.submit()">
               <option value="0">All</option>
               @for(category <- categories) {
                  <option value="@category.id">@category.name</option>
               }
           </select>
           <script>$('#categorySelect').val("@selectedCategory")</script>
        </div>
    </form>
    <div class="table-responsive">
        <table id="questionEditTable" class="table">
            <tbody>
                 @for(question <- questions) {
                     <tr class="active">
                        <td><strong>@question.question</strong></td>
                        <td align="right">
                            <button onclick="updateQuestion(@question.id)" id="updateQuestion" type="button" class="btn btn-warning btn-xs">Update</button>
                            <button onclick="deleteQuestion(@question.id)" id="deleteQuestion" type="button" class="btn btn-danger btn-xs">Remove</button>
                        </td>
                     </tr>
                     <tr class="active">
                         <td colspan="2">@question.answer</td>
                     </tr>
                     @if(question.options != null){
                     <tr class="active">
                         <td colspan="2">
                             <table class="table table-condensed" border="1">
                                 <tbody>
                                       <tr class="active">
                                           @if(question.options.multipleCorrect){
                                                <td>Multiple Correct Options:</td>
                                           }else{
                                                <td>Single Correct Option: </td>
                                           }
                                       </tr>
                                       <tr class="active">
                                           <td>
                                               @for(answerOption <- question.options.answerOptions) {
                                                    &nbsp; &nbsp;
                                                    @if(question.options.multipleCorrect){
                                                        @if(answerOption.optionCorrect){
                                                            <input disabled type="checkbox" checked/>&nbsp;<label>@answerOption.optionName</label>
                                                        }else{
                                                            <input disabled type="checkbox"/>&nbsp;<label>@answerOption.optionName</label>
                                                        }
                                                    }else{
                                                        @if(answerOption.optionCorrect){
                                                           <input disabled type="radio" checked/>&nbsp;<label>@answerOption.optionName</label>
                                                        }else{
                                                           <input disabled type="radio"/>&nbsp;<label>@answerOption.optionName</label>
                                                        }
                                                    }
                                                    &nbsp; &nbsp;
                                               }
                                           </td>
                                       </tr>
                                 </tbody>
                             </table>
                         </td>
                     </tr>
                     }
                     <tr>
                        <td colspan="2"></td>
                     </tr>
                 }
            </tbody>
        </table>
        <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#questionModel">Add New</button>
    </div>
    <div class="modal fade" id="questionModel" tabindex="-1" role="dialog" aria-labelledby="questionModelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="questionModelLabel">Add New Question</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <div class="form-group">
                            <textarea id="questionNameId" name="question" placeholder="Question" class="form-control" autofocus required></textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="answerId" name="answer" placeholder="Answer" required></textarea>
                        </div>
                        <div id="answerOptions">
                        </div>
                        <div id="showAnswerOptionButtonDIV">
                            <button onclick="showAnswerOptionDiv();" type="button" class="btn btn-warning">Add Answer Options</button>
                        </div>
                        <div id="hideAnswerOptionButtonDIV" style="display: none;">
                            <button onclick="hideAnswerOptionDiv();" type="button" class="btn btn-danger">Remove Answer Options</button>
                        </div>
                        <br/><br/>
                        <input  type="hidden" id="questionId" name="questionId" value=""/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="saveChangesButton" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}