@import model._
@(categories: List[Category],header:Html)(implicit errorStr: String)
@main(header) {
    <div class="page-header">
        <h1>Edit Category</h1>
    </div>
    <div class="table-responsive">
            <table id="categoryEditTable" class="table">
                <tbody>
                    @for(category <- categories) {
                    <tr class="active">
                        <td id="categoryName_@category.id"><strong>@category.name</strong></td>
                        <td align="right">
                            <button onclick="getUpdateCategoryModal(@category.id)" id="updateCategory" type="button" class="btn btn-warning btn-xs">Update</button>
                            <button onclick="deleteCategory(@category.id)" id="deleteCategory" type="button" class="btn btn-danger btn-xs">Remove</button>
                        </td>
                    </tr>
                    <tr class="active">
                        <td colspan="2" id="categoryDesc_@category.id">@category.description</td>
                        <input  type="hidden" id="categoryIdHidden_@category.id"   name="categoryIdHidden_@category.id"  value="@category.id"/>
                        <input  type="hidden" id="categoryNameHidden_@category.id" name="categoryNameHidden_@category.id" value="@category.name"/>
                        <input  type="hidden" id="categoryDescHidden_@category.id" name="categoryDescHidden_@category.id" value="@category.description"/>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                }
                </tbody>
            </table>
            <button type="button" class="btn btn-info btn-xs" onclick="getAddCategoryModal()">Add New</button>
            <form id="deleteForm" name="deleteForm" method="POST" action="@routes.Application.deletecategory">
                <input type="hidden" id="deleteCategoryId" name="categoryId[]" value=""/>
            </form>
    </div>
    <div class="modal fade" id="categoryModel" tabindex="-1" role="dialog" aria-labelledby="categoryLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="categoryLabel"></h4>
                </div>
                <div id="modelBodyDiv" class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>
}
