@import model._
@(questions: List[Question],submittedAnswer: Map[Integer,SubmittedAnswers],header:Html)(implicit errorStr: String)
@main(header) {
<form class="form-horizontal" role="form" method="GET" action="@routes.Application.index">
   	 <button type="submit" class="btn btn-info btn-xs">Generate Again</button>
</form>
<br/><br/>

@if(questions.size == 0){
    <div class="alert alert-danger">No Questions for selected category</div>

}else{
    <form class="form-horizontal" role="form" method="POST" action="@routes.Application.submitanswers">
    <div class="table-responsive">
         @for(question <- questions) {
              <input  type="hidden" name="questionId[@question.id]" value="@question.id"/>
              @if(question.options != null){
                  <input  type="hidden" name="answerOptionLength[@question.id]" value="@question.options.answerOptions.size"/>
   		          <table class="table table-hover">
			          <tr class="active">
				          <td>@Html(question.question)</td>
			          </tr>
                      @if(submittedAnswer != null){
                      <tr class="active">
                          <td><label>Answer: </label> @Html(question.answer)</td>
                      </tr>
                      }
			          <tr class="active">
                          @if(submittedAnswer == null){
                                <td>
                                    @for( (answerOption,index) <- question.options.answerOptions.zipWithIndex) {
                                    &nbsp; &nbsp;
                                        @if(question.options.multipleCorrect){
                                            <input value="@answerOption.optionName" name="answerOption[@question.id @index]" type="checkbox"/>&nbsp;<label>@Html(answerOption.optionName)</label>
                                        }else{
                                            <input value="@answerOption.optionName" name="answerOption[@question.id]" type="radio" required/>&nbsp;<label>@Html(answerOption.optionName)</label>
                                        }
                                    &nbsp; &nbsp;
                                }
                                </td>

                          }else{
                                <td>
                                    @for( answerOption <- question.options.answerOptions) {
                                        @if(question.options.multipleCorrect){
                                              @if(submittedAnswer.get(question.id).get.answerOption.contains(answerOption.optionName) && answerOption.optionCorrect){
                                                    <input disabled checked type="checkbox"/>&nbsp;<label>@Html(answerOption.optionName)</label>&nbsp;&nbsp;<img src="@routes.Assets.at("images/tick.png")">&nbsp;&nbsp;&nbsp;&nbsp;
                                              }
                                              @if(submittedAnswer.get(question.id).get.answerOption.contains(answerOption.optionName) && !answerOption.optionCorrect){
                                                    <input disabled checked type="checkbox"/>&nbsp;<label>@Html(answerOption.optionName)</label>&nbsp;&nbsp;<img src="@routes.Assets.at("images/cross.png")" >&nbsp;&nbsp;&nbsp;&nbsp;
                                              }
                                              @if(!submittedAnswer.get(question.id).get.answerOption.contains(answerOption.optionName) && answerOption.optionCorrect){
                                                    <input disabled type="checkbox"/>&nbsp;<label>@Html(answerOption.optionName)</label>&nbsp;&nbsp;<img src="@routes.Assets.at("images/cross.png")" >&nbsp;&nbsp;&nbsp;&nbsp;
                                              }
                                              @if(!submittedAnswer.get(question.id).get.answerOption.contains(answerOption.optionName) && !answerOption.optionCorrect){
                                                    <input disabled type="checkbox"/>&nbsp;<label>@Html(answerOption.optionName)</label>&nbsp;&nbsp;<img src="@routes.Assets.at("images/tick.png")" >&nbsp;&nbsp;&nbsp;&nbsp;
                                              }
                                        }else{
                                              @if(submittedAnswer.get(question.id).get.answerOption.contains(answerOption.optionName) && answerOption.optionCorrect){
                                                    <input disabled checked type="radio"/>&nbsp;<label>@Html(answerOption.optionName)</label>&nbsp;&nbsp;<img src="@routes.Assets.at("images/tick.png")" >&nbsp;&nbsp;&nbsp;&nbsp;
                                              }
                                              @if(submittedAnswer.get(question.id).get.answerOption.contains(answerOption.optionName) && !answerOption.optionCorrect){
                                                    <input disabled checked type="radio"/>&nbsp;<label>@Html(answerOption.optionName)</label>&nbsp;&nbsp;<img src="@routes.Assets.at("images/cross.png")" >&nbsp;&nbsp;&nbsp;&nbsp;
                                              }
                                              @if(!submittedAnswer.get(question.id).get.answerOption.contains(answerOption.optionName) && answerOption.optionCorrect){
                                                    <input disabled type="radio"/>&nbsp;<label>@Html(answerOption.optionName)</label>&nbsp;&nbsp;<img src="@routes.Assets.at("images/cross.png")" >&nbsp;&nbsp;&nbsp;&nbsp;
                                              }
                                              @if(!submittedAnswer.get(question.id).get.answerOption.contains(answerOption.optionName) && !answerOption.optionCorrect){
                                                    <input disabled type="radio"/>&nbsp;<label>@Html(answerOption.optionName)</label>&nbsp;&nbsp;<img src="@routes.Assets.at("images/tick.png")" >&nbsp;&nbsp;&nbsp;&nbsp;
                                               }
                                        }
                                    }
                                </td>
                          }

                      </tr>
                  </table>
              }else{
                  <table class="table table-hover">
                      <tr class="active">
                          <td>@Html(question.question)</td>
                      </tr>
                      @if(submittedAnswer != null){
                            <tr class="active">
                                <td><label>Answer: </label> @Html(question.answer)</td>
                            </tr>
                            @if(submittedAnswer != null && submittedAnswer.get(question.id).get.answer != null && submittedAnswer.get(question.id).get.answer.length > 0 ){
                                <tr class="active">
                                    <td><label>Your Answer: </label> @Html(submittedAnswer.get(question.id).get.answer)</td>
                                </tr>
                            }
                      }else{
                        <tr class="active">
                          <td>
                              <textarea class="form-control" name="answerOptionDesc[@question.id]" placeholder="Answer Text" autofocus required></textarea>
                          </td>
                        </tr>
                      }
                  </table>
              }
		 }
    </div>
        @if(submittedAnswer == null){
            <button type="submit" class="btn btn-success btn-xs">Submit Answers</button>
            <button type="reset" class="btn btn-success btn-xs">Clear</button>
        }
    </form>
    }
}
