@import model._
@(questions: List[Question],submittedAnswer: Map[Integer,SubmittedAnswers],header:Html)(implicit errorStr: String)
@main(header) {
<form class="form-horizontal" role="form" method="GET" action="@routes.Application.index">
   	 <button type="submit" class="btn btn-info btn-xs">Generate Again</button>
</form>
<br/><br/>

@if(questions.size == 0){
    <div class="alert alert-danger">No Questions for selected category</div>

}else{
    <form class="form-horizontal" role="form" method="POST" action="@routes.Application.submitanswers">
    <div class="table-responsive">
         @for(question <- questions) {
              <input  type="hidden" name="questionId[@question.id]" value="@question.id"/>
              @if(question.options != null){
                  <input  type="hidden" name="answerOptionLength[@question.id]" value="@question.options.answerOptions.size"/>
   		          <table class="table table-hover">
			          <tr class="active">
				          <td>@question.question</td>
			          </tr>
                      @if(submittedAnswer != null){
                      <tr class="active">
                          <td><label>Answer: </label> @question.answer</td>
                      </tr>
                      }
			          <tr class="active">
                          <td>
                              @for( (answerOption,index) <- question.options.answerOptions.zipWithIndex) {
                                  &nbsp; &nbsp;
                                  @if(question.options.multipleCorrect){
                                      <input value="@answerOption.optionName" name="answerOption[@question.id @index]" type="checkbox"/>&nbsp;<label>@answerOption.optionName</label>
                                  }else{
                                      <input value="@answerOption.optionName" name="answerOption[@question.id]" type="radio" required/>&nbsp;<label>@answerOption.optionName</label>
                                  }
                                  &nbsp; &nbsp;
                              }
                          </td>
                      </tr>
                  </table>

              }else{
                  <table class="table table-hover">
                      <tr class="active">
                          <td>@question.question</td>
                      </tr>
                      @if(submittedAnswer != null){
                        <tr class="active">
                          <td><label>Answer: </label> @question.answer</td>
                        </tr>
                        @if(submittedAnswer != null && submittedAnswer.get(question.id).get.answer != null && submittedAnswer.get(question.id).get.answer.length > 0 ){
                        <tr class="active">
                            <td><label>Your Answer: </label> @submittedAnswer.get(question.id).get.answer</td>
                        </tr>
                      }
                      }else{
                        <tr class="active">
                          <td>
                              <textarea class="form-control" name="answerOptionDesc[@question.id]" placeholder="Answer Text" autofocus required></textarea>
                          </td>
                        </tr>
                      }
                  </table>
              }
		 }
    </div>
        @if(submittedAnswer == null){
            <button type="submit" class="btn btn-success btn-xs">Submit Answers</button>
            <button type="reset" class="btn btn-success btn-xs">Clear</button>
        }
    </form>
    }
}
