@import model._
@(categories: List[Category],user: User,loginForm: Form[(String,String)])(implicit lang: Lang)
@main(title = "Home",user,loginForm) {
	<form class="form-horizontal" role="form" method="POST" action="@routes.Application.genQuest">
		<div class="form-group form-group-sm">
			<label class="control-label">Select Categories:</label> 
			<a href="#"><small>Select All</small></a>	
			<a href="#"><small>Unselect All</small></a>
			<span class="help-block">Select categories below and click on the submit button to generate questions. @if(user != null){Click on Edit Category button to edit/add category. Click on Edit Questions button to edit/add questions.}</span>
			@for(categoriesSubList <- categories.grouped(5).toList) {
				<div class="row">
					 @for(category <- categoriesSubList) {
					  <div class="col-md-2">
					 	 <input  type="checkbox" name="category@category.id" id="category@category.id" value="@category.id"/> <strong>@category.name</strong>
					  </div>
					 } 
				</div>
			}
		</div>	
		<button type="submit" class="btn btn-info btn-xs">Submit</button>	
		@if(user != null){
			<button type="button" class="btn btn-info btn-xs">Edit Category</button>
			<button type="button" class="btn btn-info btn-xs">Edit Questions</button>	
		}	
	</form>	
}
