<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GenQuest</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form" method="GET" action="@routes.Application.index">
                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-xs">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>

