@import model._
@(userDataForm: Form[(String,String,String,String)],header:Html)(implicit errorStr: String)
@main(header) {
	<div class="page-header">
		<h1>Register User</h1>
	</div>
	<form class="form-horizontal" role="form" method="POST" action="@routes.Application.adduser">
		<div class="form-group col-lg-7">
			<label for="username">User Name:</label>
			<input id="username" type="text" name="username" value='@(userDataForm("username").value)' maxlength="30" class="form-control" placeholder="Username" autofocus required>
		</div>	
		<div class="form-group col-lg-7">
			<label for="password">User Password:</label>
			<input id="password" type="password" name="password" value='@(userDataForm("password").value)' maxlength="30" class="form-control"  placeholder="Password" required>
		</div>	
		<div class="form-group col-lg-7">
			<label for="userfirstname">User First Name:</label>
			<input id="userfirstname" type="text" name="firstname" value='@(userDataForm("firstname").value)' maxlength="50" class="form-control" placeholder="First Name" required>
		</div>
		<div class="form-group col-lg-7">
			<label for="userlastname">User Last Name:</label>
			<input id="userlastname" type="text" name="lastName" value='@(userDataForm("lastName").value)' maxlength="50" class="form-control" placeholder="Last Name" required>
		</div>
		<div class="form-group col-lg-7">
			<button type="submit" class="btn btn-info btn-xs">Submit</button>
			<button type="reset" class="btn btn-info btn-xs">Reset</button>
		</div>
	</form>
}
